.metric
  display flex
  flex-grow 1
  align-items center
  justify-content center
  text-align center
  position relative

  h1
    text-align center
    font-size 22em
    font-family 'Ubuntu Condensed', 'Roboto Condensed', sans-serif

  .meta
    width 100%
    height 80px
    position absolute
    bottom 0
    left 0

    h2
      display block
      width 50%
      height 80px
      line-height 80px
      padding 0 5%
      color #999
      font-size 2em
      font-weight normal
      text-align left
      text-transform lowercase
      position absolute
      top 0
      left 0

      &.left
        width 80%

      &.right
        width 20%
        text-align right
        left auto
        right 0

  &.position
    flex-direction column

    h1
      display block
      font-size 8.5em
      font-weight 500
      margin 10px 0

    &.small h1
      font-size 3em
      margin 0 0

    &.medium h1, &.half h1
      font-size 3.8em
      margin 0 0

  &.small, &.medium, &.half
    h1
      font-size 9.5em

    .meta
      height 50px

      h2
        height 50px
        line-height 50px
        font-size 1em

  &.half h1
    font-size 12em

  &.dark
    .meta h2
      color #666

    h1
      color #fafafa
