@require './variables'

html, body
  width 100%
  height 100%
  margin 0
  padding 0
  overflow hidden
  position relative

body
  font-size 87.5%
  font-weight normal
  font-family: Roboto, 'Helvetica Neue', Arial, sans-serif

main
  display block
  height 100%
  width 100%

  section.application
    display block
    width 100%
    height 100%
    background-color #eee
    overflow-x hidden
    overflow-y auto

.text-align-right
  text-align right

.text-align-center
  text-align center

.text-align-left
  text-align left
