.controls
  display block
  background-color #eee
  height 100%
  width 100%
  overflow hidden

  pre
    padding-top 1.5em
    font-size 0.9em

  &.dark
    background-color #222

    pre
      color #fff
